
@section Styles
{
    <style type="text/css">
        body
        {
            background-color: #F5F5F5;
        }    
        #divbusca_Error
        {            
            margin: 0 auto;  
            height: auto;  
            background-color: White;    
            font-family:Verdana;
            font-size: large;
            color:#565656;               
        }         
    </style>

}


    <div id="divbusca_Error">
        <br />
        Digite um texto para fazer a busca!
        <br />
        <br />
        <br />
    </div>

